.buy-wrapper {
	width: 95%;
	height: 100%;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

.buy-closed {
	border: 2px solid rgb(128, 121, 121);
}

.buy-show {
	width: 95%;
	text-align: left;
	padding-left: 40px;
	background-color: inherit;
}

.buy-show:hover {
	cursor: pointer;
}

.buy-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #4e93dd;
    border-radius: 20px 20px 0px 0px;
}

.buy-heading div {
	text-align: left;
}

.b-1 {
	min-width: 5%;
}

.b-2 {
	min-width: 15%;
}

.b-3 {
	width: 30%;
}

.b-4 {
	width: 20%;
}

.b-5 {
	width: 10%;
}

.b-6 {
	width: 20%;
}

.b-7 {
	width: 5%;
}
